body {background-color: #2c3133;}




h1 { color: #aaaeae;
    height: 200px;
    position: relative;
    border: 3px solid green;
}

h1 {
color: #aaaeae;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




